article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; height: 0; }
[hidden] { display: none; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; }
body { margin: 0; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }
h1 { font-size: 1em; margin: 0; }
h2 { font-size: 1em; margin: 0; }
h3 { font-size: 1em; margin: 0; }
h4 { font-size: 1em; margin: 0; }
h5 { font-size: 1em; margin: 1.67em 0; }
h6 { font-size: 1em; margin: 2.33em 0; }
abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
mark { background: #ff0; color: #000; }
p, pre { margin: 1em 0; }
pre, code, kbd, samp { font-family: monospace,serif; _font-family: 'courier new',monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ''; content: none; }
small { font-size: 75%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
dl, menu, ol, ul { margin: 1em 0; }
dd { margin: 0 0 0 40px; }
menu, ol, ul { padding: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; }
img { border: 0; -ms-interpolation-mode: bicubic; font-size: 10px; color: transparent; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }
form { margin: 0; }
fieldset { border: 1px solid #c0c0c0; margin: 0 2px; padding: .35em .625em .75em; }
legend { border: 0; padding: 0; white-space: normal; *margin-left: -7px; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *height: 13px; *width: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0; }
* { list-style: none; position:relative; }
li {list-style: none;}
img { border: 0; }


/* ----------
GLOBAL RESETS
-------------------------- */
form { height: 100%; }
html, body { font-family: Arial, Helvetica,sans-serif; margin: 0; padding: 0; border: 0; height: 100%; width: 100%; background-color:#fff; color: #666; }
h1, h2, h3, h4, h5 { margin: 0; border: 0; padding: 0; font-weight: normal;  }
.hidden { display: none; }
a { color: #333; }
a, a:hover, a:active, a:focus, a:visited { text-decoration: none; outline: none; }
ul { margin: 0; padding: 0; }


/* ----------
CORES
-------------------------- */
.branco { color: #fff; }
.preto { color: #000; }
.cinza33 { color:#333; }
.cinza44 { color:#444; }
.cinza52 { color:#525252; }
.cinza88 { color:#888; }
.cinza82 { color:#828282; }
.cinzaEB { color:#EBEBEB; }

.azul00 { color:#003852; }
.azulF9 {color:#00A8F9; }

.vermelhoFC {color: #FC382E;}
/* -------------
FONTES
------------------------ */

@font-face {
    font-family: 'open_sansregular';
    src: url('/css/fonts/opensans-regular-webfont.eot');
    src: url('/css/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/css/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight';
    src: url('/css/fonts/opensans-light-webfont.eot');
    src: url('/css/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-light-webfont.woff') format('woff'),
         url('/css/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('/css/fonts/opensans-semibold-webfont.eot');
    src: url('/css/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/css/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('/css/fonts/opensans-bold-webfont.eot');
    src: url('/css/fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/opensans-bold-webfont.woff') format('woff'),
         url('/css/fonts/opensans-bold-webfont.ttf') format('truetype'),
         url('/css/fonts/opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans100';
    src: url('/css/fonts/museosans-100.eot');
    src: url('/css/fonts/museosans-100.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/museosans-100.woff') format('woff'),
         url('/css/fonts/museosans-100.ttf') format('truetype'),
         url('/css/fonts/museosans-100.svg#museo_sans100') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans500';
    src: url('/css/fonts/museosans-500.eot');
    src: url('/css/fonts/museosans-500.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/museosans-500.woff') format('woff'),
         url('/css/fonts/museosans-500.ttf') format('truetype'),
         url('/css/fonts/museosans-500.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo_sans700';
    src: url('/css/fonts/museosans_700-webfont.eot');
    src: url('/css/fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('/css/fonts/museosans_700-webfont.woff') format('woff'),
         url('/css/fonts/museosans_700-webfont.ttf') format('truetype'),
         url('/css/fonts/museosans_700-webfont.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;
}

.ffLight {font-family: 'open_sanslight', Arial, sans-serif;}
.ffRegular {font-family: 'open_sansregular', Arial, sans-serif;}
.ffMedium {font-family: 'open_sanssemibold', Arial, sans-serif;}
.ffBold {font-family: 'open_sansbold', Arial, sans-serif;}
.ms100 { font-family: 'museo_sans100', Arial, sans-serif; }
.ms500 { font-family: 'museo_sans500', Arial, sans-serif; }
.ms700 { font-family: 'museo_sans700', Arial, sans-serif; }
.arial { font-family: Arial, sans-serif; }
/*.ffRegular b, .ffRegular strong {font-family: 'museo_sans700', Arial, sans-serif; font-weight:normal; }*/
/*.ffLight b, .ffLight strong {font-family: 'museo_sans500', Arial, sans-serif; font-weight:normal; }*/


/* -------------
TAMANHOS
----------------------- */
.t9 { font-size: 9px; }
.t10 { font-size: 10px; }
.t11 { font-size: 11px; }
.t12 { font-size: 12px; }
.t13 { font-size: 13px; }
.t14 { font-size: 14px; }
.t15 { font-size: 15px; }
.t16 { font-size: 16px; }
.t17 { font-size: 17px; }
.t18 { font-size: 18px; }
.t19 { font-size: 19px; }
.t20 { font-size: 20px; }
.t21 { font-size: 21px; }
.t22 { font-size: 22px; }
.t23 { font-size: 23px; }
.t24 { font-size: 24px; }
.t25 { font-size: 25px; }
.t26 { font-size: 26px; }
.t27 { font-size: 27px; }
.t28 { font-size: 28px; }
.t30 { font-size: 30px; }
.t32 { font-size: 32px; }
.t34 { font-size: 34px; }
.t35 { font-size: 35px; }
.t36 { font-size: 36px; }
.t38 { font-size: 38px; }
.t40 { font-size: 40px; }
.t42 { font-size: 42px; }
.t44 { font-size: 44px; }
.t45 { font-size: 45px; }
.t48 { font-size: 48px; }
.t50 { font-size: 50px; }
.t55 { font-size: 55px; }
.t60 { font-size: 60px; }
.t70 { font-size: 70px; }
.t80 { font-size: 80px; }
.t90 { font-size: 90px; }
.t100 { font-size: 100px; }
.ls-1 {letter-spacing: -1px;}
.ls2 {letter-spacing: 2px;}
.ls1 {letter-spacing: 1px;}
/* -------------
OUTROS
----------------------- */
.bold { font-weight: bold; }
.bottom { vertical-align: bottom; }
.top { vertical-align: top; }

.lht50 { line-height: 50%; }
.lht80 { line-height: 80%; }
.lh100 { line-height: 100%; }
.lh120 { line-height: 120%; }
.lh140 { line-height: 140%; }
.lh150 { line-height: 150%; }
.lh160 { line-height: 160%; }
.lh180 { line-height: 180%; }
.lh170 { line-height: 170%; }
.lh200 { line-height: 200%; }
.lh250 { line-height: 250%; }

.sublinhado { text-decoration: underline; }
.pointer { cursor: pointer; }
.italico { font-style: italic; }
.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }

.clear { clear: both; }
.hide { display: none; }

.nowrap { white-space: nowrap; }
.center { text-align: center; }
.overflowHidden { overflow: hidden; }
.anim02 { -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; transition: all 0.2s ease; }

.unselectable { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }
.cursord { cursor: default; }
.cursorp { cursor: pointer; }

.vazio {color: #FF0000;font-size: 20px;position: absolute;right: 10px;top: 5px;}

/* LARGURAS */
.w1600 { max-width: 1600px; margin: 0 auto; width: 100%; }
.w1024 { width: 1024px; display: block; margin: 0 auto; }
.w980 { max-width: 980px; display: block; margin: 0 auto; }
.w940 { width: 940px; display: block; margin: 0 auto; }
.w880 { width: 880px; display: block; margin: 0 auto; }

/* CHECK BROWSER */
#checkbrowser { display:none; position:fixed; top:0; left:0; z-index:2000; width:100%; line-height:25px; height:30px; margin:0 auto; text-align:center; background:#FDF2AB; border-bottom:1px solid #A29330; }
.browser_splash { display:none; width:100%; height:100%; clear:both; margin:0 auto; position: fixed; top:0; left:0; z-index:100000; background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)'; }
.browser_splash_inner {border-radius: 5px 5px 5px 5px; margin: 30px auto; width: 800px; height: 550px; padding: 30px; font-size:11px; background-color: rgba(255,255,255,0.85); /* For IE 5.5 - 7*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccFFFFFF, endColorstr=#ccFFFFFF); /* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccFFFFFF, endColorstr=#ccFFFFFF)"; }
.browser_splash p { color: #333; font-size: 14px; font-weight:bold; }
a#lnk_browser:hover { color: #ccc; }
a#lnk_browser { width:200px; height:30px; background:#222; border-radius: 3px 3px 3px 3px; color: #fff; padding-top: 10px; margin:0 auto; text-align:center; display: block; }
.browser_link { float: left; width: 160px; }
.browser_link a { float: left; width: 70px; height: 70px; text-align: center; background: url(/images/browsers.png) no-repeat 0 0; text-indent: -980px; overflow: hidden; display: block; }
.browser_link.firefox a { background-position: -289px 0; }
.browser_link.ie a { background-position: -216px 0; }
.browser_link.chrome a { background-position: -68px 0; }
.browser_link.opera a { background-position: 0px 0; }
.browser_link.safari a { background-position: -144px 0; }

/* COOKIES */
.cookies_container { display: none; position:fixed; bottom:0; z-index:1000; width:100%; height:40px; line-height:38px; background:#DDD;-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4); }
.cookies_container .texto { float:left; padding-left:20px; }
.cookies_container .aceitar { float:right; width:130px; line-height:40px; height:40px; display:block; text-align:center;background:#333; text-transform:uppercase }

a#maisn_info_close:hover { color: #fff; }
a#maisn_info_close { width:200px; height:30px; background:#333; color: #fff; padding-top: 5px; margin:0 auto; text-align:center; display: block; }

.cookies_mais_info { display:none; width:100%; height:100%; clear:both; margin:0 auto; position: fixed; top:0; left:0; z-index:100000; background: rgb(0, 0, 0);background: rgba(0, 0, 0, 0.7);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter:'progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)'; }
.cookies_mais_info_inner {border-radius: 5px 5px 5px 5px; margin: 150px auto; width: 500px; height: 250px; padding: 50px; max-width: 60%; background-color: rgba(255,255,255,0.85); /* For IE 5.5 - 7*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccFFFFFF, endColorstr=#ccFFFFFF); /* For IE 8*/ -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccFFFFFF, endColorstr=#ccFFFFFF)"; }
.cookies_mais_info h2 { color: #333; font-size: 22px; font-weight: bold; }
.cookies_mais_info h3 { color: #333; font-size: 22px; font-weight: bold; }
.cookies_mais_info p { color: #333; }



/* -- VALIDATION ERRORS -- */
.validator { position: absolute; right: -10px; top: -10px; width: 20px; height: 20px; text-align: center; }
.validator .erroMark { cursor: pointer; z-index: 99; position: relative; width: 20px; height: 20px; background-color:#FC382E; text-align: center; color:#FFF100; font-size: 25px; display: block; line-height: 30px; border-radius: 50%; }
.validator .erroDetail { display: none; width: 150px; padding: 5px 5px 5px 22px; background-color: #fff; z-index: 98; color: #333; position: relative; font-size: 12px; margin-top: -20px; text-align: left; border-radius: 10px; }
.validator:hover .erroDetail { display: block; }


